<div>
  <nav class="navbar navbar-light bg-faded">
    <div class="container">
      <a href="#" class="navbar-brand">
        <img class="logo" src="/assets/logo.png"  width="150px" height="150px"/>
        <h1>Delicias da Rocha</h1>
      </a>
      <a a href="#"><img src="/assets/carrinho.png"/></a>
    </div>
  </nav>
  <div class="menu">
    <div class="container">
      <ul class="nav">
        <li class="nav-item">
          <a class="nav-link active" href="#">Cardápio</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Contato</a>
        </li>
      </ul>
    </div>
  </div>
</div>
<div class="banner">
  <img src="/assets/banner.jpg" />
</div>
